<div class="upper-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h2 style="text-align: center">
          Competitive Exams Coding
        </h2>
      </div>
      <form [formGroup]="adminEditBlog">
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="title">Title:</label>
          <input id="title" class="form-control" type="text" formControlName="title" name="title">
        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="content">Content:</label>
          <textarea id="content" class="form-control input-lg" rows="6" formControlName="content" name="content"></textarea>
        </div>

        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="image">Image:</label>
          <input id="image" class="form-control input-lg" formControlName="image" name="image">
        </div>

        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="tags">Tags:</label>
          <input id="tags" class="form-control" type="text" formControlName="tags" name="tags">
        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="subject">Subject:</label>
          <input id="subject" class="form-control" type="text" formControlName="subject" name="subject">
        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="stream">Stream:</label>
          <input id="stream" class="form-control" type="text" formControlName="stream" name="stream">

        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="author">Author:</label>
          <input id="author" class="form-control" type="text" formControlName="author" name="author">

        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="aboutAuthor">About Author:</label>
          <input id="aboutAuthor" class="form-control" type="text" formControlName="aboutAuthor" name="aboutAuthor">
        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <label for="rating">Rate:</label>
          <input id="rating" class="form-control" type="number" formControlName="rating" name="rating">
        </div>
        <div class="col-md-offset-2 col-md-8 form-group">
          <button type="submit" class="btn btn-primary" (click)="text2Binary()">Rate the Blog</button>
        </div>
      </form>
    </div>
  </div>
</div>