<div class="upper-padding">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view"
            aria-selected="true">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit"
            aria-selected="false">Edit</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
          <div *ngFor="let details of blogAdminAll let i = index;">
            <div class="col-md-4">
              <a (click)="blogread(details)">
                <h4 class="showViewTitle">{{details.title}}</h4>
              </a>
              <p class="showStream">{{details.stream}}</p>
              <p class="showAuthor">{{details.author}}</p>
              <span (click)="deleteEditOnes(details)"><i class="fa fa-trash trashIcon"></i></span>
              <hr>
            </div>
          </div>
        </div>

        <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
          <div *ngFor="let details of blogAllRatedOnes let i = index;">
            <div class="col-md-4">
              <h4 class="showViewTitle">{{details.title}}</h4>
              <p class="showStream">{{details.stream}}</p>
              <p class="showAuthor">{{details.author}}</p>
              <span (click)="addToEdit(details)"><i class="far fa-edit editIcon"></i></span>
              <span (click)="deleteExisting(details)"><i class="fa fa-trash trashIcon"></i></span>
              <hr>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="upper-padding">
  <div class="container">
    <div class="row">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Contact</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div *ngFor="let details of blogAllRatedOnes let i = index;">

          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div *ngIf="i%3 === 0">
              <div class="col-md-4">
                <a (click)="blogread(details)">
                  <img class="showImage" src={{details.image}}></a>
                <p class="showStream">{{details.stream}}</p>
                <a (click)="blogread(details)">
                  <h4 class="showTitle">{{details.title}}</h4>
                </a>
                <p class="showAuthor">{{details.author}}</p>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div *ngIf="i%3 === 1;">
              <div class="col-md-4">
                <a (click)="blogread(details)">
                  <img class="showImage" src={{details.image}}></a>
                <p class="showStream">{{details.stream}}</p>
                <a (click)="blogread(details)">
                  <h4 class="showTitle">{{details.title}}</h4>
                </a>
                <p class="showAuthor">{{details.author}}</p>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div *ngIf="i%3 === 2;">
              <div class=" col-md-4">
                <a (click)="blogread(details)">
                  <img class="showImage" src={{details.image}}></a>
                <p class="showStream">{{details.stream}}</p>
                <a (click)="blogread(details)">
                  <h4 class="showTitle">{{details.title}}</h4>
                </a>
                <p class="showAuthor">{{details.author}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-12"><iframe width="100%" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=2D3E90242CF189AF%21105&authkey=%21AFq7_gnxzl7GbP4&em=2&AllowTyping=True&ActiveCell='Sheet1'!H2&wdDownloadButton=True&wdInConfigurator=True"></iframe></div>
</div> -->