<div class="upper-padding">
  <div class="container">
    <div class="row">

      <div *ngFor="let details of blogAdminAll let i = index;">
        <div *ngIf="i%3 === 0">
          <div class="col-md-4">
            <a (click)="blogread(details)">
              <img class="showImage" src={{details.image}}></a>
            <p class="showStream">{{details.stream}}</p>
            <a (click)="blogread(details)">
              <h4 class="showTitle">{{details.title}}</h4>
            </a>
            <p class="showAuthor">{{details.author}}</p>
          </div>
        </div>

        <div *ngIf="i%3 === 1;">
          <div class="col-md-4">
            <a (click)="blogread(details)">
              <img class="showImage" src={{details.image}}></a>
            <p class="showStream">{{details.stream}}</p>
            <a (click)="blogread(details)">
              <h4 class="showTitle">{{details.title}}</h4>
            </a>
            <p class="showAuthor">{{details.author}}</p>
          </div>
        </div>

        <div *ngIf="i%3 === 2;">
          <div class=" col-md-4">
            <a (click)="blogread(details)">
              <img class="showImage" src={{details.image}}></a>
            <p class="showStream">{{details.stream}}</p>
            <a (click)="blogread(details)">
              <h4 class="showTitle">{{details.title}}</h4>
            </a>
            <p class="showAuthor">{{details.author}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>