.upper-padding {
    padding-top: 4em;
}

.social-sides {
    font-size: 3em;
     color: black;
     padding-right: 0.4em;
     padding-top: 0.5em;
}

.social-sides:hover {
    color: grey;
}

.left-margin {
    margin-left: 2%;
}

.blog-link a {
    text-decoration: none;
    color: black;
}

.footer-blog-link {
    margin-top: 1em;
}

.side-blog-link:hover .side-blog-title {
    font-size: 24px;
}

.footer-blog-link:hover .footer-blog-title {
    font-size: 24px;
}

.footer-blog-title, .side-blog-title {
    color: grey;
}

.footer-blog-content, .side-blog-content {
    text-decoration: none;
}

.footer-blog-background {
    background-color: #F5F5F5;
    color:black;
}

.blog-subject {
    font-size: 18px;
    color: #ED7C7C;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.blog-title {
    font-family: bodoni,serif;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: .03em;
}

.blog-content {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.01em;
    font-family: Karla,sans-serif;
    text-align: justify;
}

.blog-tags {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.01em;
    font-family: Karla,sans-serif;
    color: grey;
}

.girl_face_emily {
    width: 100px;
    height: 100px;
}

.image-article {
    width: 80%;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

table, td, th {
    border: 1px solid black;
  }