<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: black;" href="#">Geek1Vision</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/view-all">Blogs <span class="sr-only">(current)</span></a></li>
                <li><a href="/add">Add Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Engineering</a></li>
                        <li><a href="#">Medical</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Examp Preparation</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">All Exams</a></li>
                    </ul>
                </li>
            </ul>

            <form [formGroup]="subscribeForm" class="navbar-form navbar-right" (ngSubmit)=subscribeF()>
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="myemail@gmail.com">
                    <div class="nav navbar-nav colorred navbar-left">
                        <p *ngIf="subscribeForm.get('email').invalid && (subscribeForm.get('email').touched && subscribeForm.get('email').dirty) && !subscribeForm.get('email').hasError('required')">
                            *Invalid Email</p>
                        <p *ngIf="subscribeForm.get('email').hasError('required') && (subscribeForm.get('email').touched || subscribeForm.get('email').dirty)">*Required
                            Field</p>
                    </div>
                </div>
                <div class="form-group dropdown">
                    <button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="form-check text-center">
                            <input type="checkbox" formControlName="jee" class="form-check-input" id="jee" checked>
                            <label class="form-check-label" for="jee">Engineering</label>
                        </li>
                        <li class="form-check text-center">
                            <input type="checkbox" formControlName="medical" class="form-check-input" id="medical"
                                checked>
                            <label class="form-check-label" for="medical">Medical</label>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="form-check text-center">
                            <input type="checkbox" formControlName="exams" class="form-check-input" id="exams" checked>
                            <label class="form-check-label" for="exams">Exams</label>
                        </li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-default">Subscribe</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer-padding">

    <div class="footer-head">
        <div class="container">

            <div class="row">

                <div class="col-md-8 col-lg-5 text-left">
                    <h3 class="social-message">Get connected with us on social networks!</h3>
                </div>

                <div class="col-md-6 col-lg-7 text-right">
                    <a target="_blank" href="https://www.facebook.com/geek1vision/"><i class="fab fa-facebook social-sides"></i></a>
                    <a target="_blank" href="https://twitter.com/geek_1_vision"><i class="fab fa-twitter social-sides"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/geek1vision"><i class="fab fa-linkedin social-sides"></i></a>
                    <a target="_blank" href="https://www.instagram.com/geek1vision/"><i class="fab fa-instagram social-sides"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-last">
        <div class="container text-center text-md-left mt-5">
            <div class="row ">

                <div class="col-md-4 col-lg-4 col-xl-4">
                    <h6 class="footer-logo">Geek1Vision</h6>
                    <hr class="footer-long-lines">
                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                        amet,
                        consectetur
                        adipisicing elit.</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 footer-link">
                    <h6 class="text-uppercase">Categries</h6>
                    <hr class="footer-lines">
                    <p><a href="#!">Engineering</a></p>
                    <p><a href="#!">Medical</a></p>
                    <p><a href="#!">All Exams</a></p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 footer-link">
                    <h6 class="text-uppercase">Useful links</h6>
                    <hr class="footer-lines">
                    <p><a href="/add">Add Blog</a></p>
                    <p><a href="/view-all">All Blogs</a></p>
                    <p><a href="#subscribe">Subscribe</a></p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 footer-link">
                    <h6 class="text-uppercase">Contact</h6>
                    <hr class="footer-lines">
                    <p>Bangalore 560095, India</p>
                    <p>Editorgeel1vision@gmail.com</p>
                    <p><a target="_blank" href="https://www.linkedin.com/in/sarthakvijay">Linkedin</a></p>
                </div>
            </div>
        </div>

        <hr>
        <!-- Copyright -->
        <div class="footer-developer text-center">Developed By:
            <a href="https://www.linkedin.com/in/sarthakvijay/"> Sarthak Vijay</a>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->