<div class="upper-padding left-margin">


  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-11">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.geek1vision.com" target="_blank">
          <i class="fab fa-facebook social-sides"></i>
        </a>
        <a href=" http://www.linkedin.com/shareArticle?mini=true&url=http://www.geek1vision.com&title=Education-Blog&summary=Blog&source=http://www.geek1vision.com"
          target="_blank">
          <i class="fab fa-linkedin social-sides"></i>
        </a>
        <a href="https://twitter.com/share?text=Blog-For-Sciencr-Maths-Bio-Students@geek_1_vision%20via%20@sarthak_vijay&url=http://www.geek1vision.com"
          target="_blank">
          <i class="fab fa-twitter social-sides"></i>
        </a>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-offset-1 col-md-8">

        <p class="blog-subject">{{blogOneData.subject}}</p>
        <p class="blog-title">{{blogOneData.title}}</p>
        <p class="blog-content">{{blogOneData.content}}</p>
        <p class="blog-tags"><i>Tags: </i> {{blogOneData.tags}}</p>

        <div class="col-md-8">
          <p class="blog-author"></p>
          <p class="blog-author"><i>Author: </i>{{blogOneData.author}}</p>
          <p class="blog-aboutAuthor">{{blogOneData.aboutAuthor}}</p>
        </div>
        <div class="col-md-offset-1 col-md-2">
          <img class="girl_face_emily" src='./../../../assets/images/girl_face_1.png'>
        </div>

      </div>
      <div class="col-md-3">
        <div *ngFor='let details of blogOtherData | slice:0:4;'>
          <div class="blog-link side-blog-link">
            <hr>
            <a href="view-one?title={{details.title}}&id={{details.id}}">
              <h4 class="side-blog-title">{{details.title}}</h4>
              <h5 class="side-blog-content">{{details.content | limitTo: 80}}</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div *ngFor='let details of blogOtherData | slice:4:7; let i = index'>
        <div class="col-md-offset-2 col-md-7 col-md-offset-3">
          <hr>
          <div class="blog-link footer-blog-link " *ngIf="i <3">
            <a href="view-one?title={{details.title}}&id={{details.id}}">
              <h4 class="footer-blog-title">{{details.title}}</h4>
              <h5 class="footer-blog-content">{{details.content | limitTo: 150}}</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>