<div class="container">
  <div class="row">
    <h2 class="welcome">WELCOME</h2>
    <img class="aboutUsWelcomeImage" src="https://i.imgur.com/d9dS6e9.jpg">

    <h1 class="aboutGeek1vision">ABOUT GEEK1VISION</h1>

    <div class="col-md-8 col-md-offset-2 description">
      <h4>Hi! I am Sarthak Vijay, an individual with a passion for technology-driven education and career guidance. We
        at
        Geek1Vision truly believes in the transformative power of content & technology and their ability to simplify
        learning, understanding, engage and communicate and inspire learners everywhere.
        We're are excited to start and help you shape your career and perform better and achieve success.
      </h4>
    </div>
  </div>
</div>